* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #D4AF37;
    --secondary-color: #D62828;
    --sub-options: #929292;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;

    background-color: #0b0b0b;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    gap: 3rem;
}

.home-logo {
    display: flex;
    align-items: center;

    gap: 3rem;

    /* width: 190px; */
    flex-shrink: 0;
}

.home-logo img {
    width: 5rem;
    height: 5rem;

    object-fit: contain;
}

.home-logo h1 {
    color: #e5e5e5;

    font-size: 2rem;
    font-weight: 700;

    letter-spacing: 0.5px;

    white-space: nowrap;
}

.nav-options {
    height: 100%;

    display: flex;
    align-items: center;

    gap: 4rem;

    list-style: none;

    margin-left: 5px;
}

.nav-options li {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    color: var(--sub-options);

    font-size: 1rem;
    /* font-weight: 500; */

    letter-spacing: 1.3px;

    white-space: nowrap;

    cursor: pointer;

    transition: color 0.3s ease;
}

.nav-options li:hover {
    color: white;
}

.nav-options li.active {
    color: white;
    font-weight: 600;
}

.nav-options li.active::after {
    content: "";

    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: var(--primary-color);
}

.nav-actions {
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 3rem;

    height: 100%;
}

.action-icon {

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    cursor: pointer;
}

.action-icon img {
    width: 1.5rem;
    height: 1.5rem;

    object-fit: contain;

    display: block;
}

.cart-icon {
    width: 18px;
    height: 18px;
}

.cart-icon img {
    width: 3rem;
    height: 3rem;

    object-fit: contain;

    display: block;
}

/* ******************************Hero Section******************** */

.hero-section {
    width: 100%;
    height: 530px;

    position: relative;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section > img {
    width: 100%;
    height: 100%;

    /* object-fit: cover; */
    object-position: center;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.hero-section::after {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.40);

    z-index: 2;
}


.top-data {
    position: relative;

    z-index: 3;

    width: 100%;
    max-width: 750px;

    text-align: center;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.top-data h1 {
    margin: 0;

    font-size: 4rem;
    line-height: 1.05;

    font-weight: 900;

    text-transform: uppercase;

    color: #f5eeee;

    text-shadow:
        3px 3px 0px #4b2020,
        -1px -1px 0px #ffffff;

}


.span-head {
    display: block;
}

.top-data p {
    width: 650px;

    max-width: 90%;

    margin-top: 30px;

    color: #cfcfcf;

    font-size: 1.3rem;

    line-height: 1.6;

    font-weight: 400;
}


.button-div {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 18px;

    margin-top: 38px;
}


.button-div button {
    height: 3rem;

    padding: 0 30px;

    border-radius: 25px;

    font-size: 1rem;

    font-weight: 700;
}

.shop-btn {
    background-color: var(--primary-color);

    color: #151515;

    border: 1px solid var(--primary-color);
}

.explore-btn {
    background-color: transparent;

    color: white;

    border: 1px solid #686868;
}

.featured-collection{
    color: white;
}

.featured-cards{
    display: flex;
}
