:root {
  --primary-color: #D4AF37;
  --secondary-color: #D62828;
  --sub-options: #929292;
  --card-background: rgb(31, 30, 30);
  --page-background: #0b0d10;
  --dark-card: #111317;
  --border-color: #292c31;
  --text-color: #eeeeee;
  --muted-text: #777b82;
}
